<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Blog Tools - Cybrix Website</title>
    <style>
        tr:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}
    </style>
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <div class="admin-nav">
                <a href="/admin/PageBuilder">PageBuilder</a>
            </div>

            <div class="centered-box">
                <table>
                    <tr>
                        <td>ID</td>
                        <td>TITLE</td>
                        <td>CATEGORY</td>
                        <td>URL</td>
                        <td>ACTIONS</td>
                    </tr>
                    <% blogPosts.forEach(post => { %>
                            <td><%= post.ID %></td>
                            <td><%= post.title %></td>
                            <td><%= post.category %></td>
                            <td><%= post.url %></td>
                            <td><a href="/blog/post/<%- post.url %>" target="_blank"><img src="/img/icons/win98/msagent-1.png"></a> <a href="/admin/blogtools/edit/<%- post.ID %>"><img src="/img/icons/win98/themes-1.png"></a> <a href="/admin/blogtools/delete/<%- post.ID %>"><img src="/img/icons/win98/no-0.png"></a></td>
                        </tr>
                    <% }) %>
                </table>



            </div>
        </div>
    </div>
</body>
</html>