<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>PageBuilder Editor - Cybrix Admin Dashboard</title>
    <style>
        tr:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}
    </style>
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <div class="admin-nav">
                <a href="/admin/PageBuilder">PageBuilder</a>
            </div>

            <div class="centered-box">
                <form action="/admin/pagebuilder/edit/<%- page.ID %>" method="post">
                    <label for="title" >Title of the page.</label><br>
                    <input type="text" name="title" id="title" value="<%= page.title %>"><br>
                    <label for="url">URL of the page.</label><br>
                    <input type="text" name="url" id="url" value="<%= page.url %>"><br>
                    <label for="title">Page content.</label><br>
                    <textarea name="content" style="text-align: left;" id="content"><%= page.content %></textarea>
                    <button type="submit">Save page</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>